# Database Configs
DB_HOST=db
DB_PORT=3306
DB_USERNAME=clinic_user
DB_PASSWORD=clinic_password
DB_DATABASE=clinic_desk
MYSQL_ROOT_PASSWORD=rootpassword

# App Configs
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost

# JWT Configs
JWT_SECRET=supersecretkey
JWT_EXPIRATION=900s
JWT_REFRESH_EXPIRATION=604800s
